@charset "utf-8";
body {
    background-color: #ADFFE6;
    color: #05B830;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 25px;
    overflow-x: hidden;
	
		
	}
#container {
    width: 768px;
    height: auto;
    background-color: #61DCFB;
    margin: auto;
    max-height: auto;
	
}
/*This was where we ended the code for the main footer.*/
footer{
    width: 768px;
    height: 50px;
    background-color: orange;
    background-image: url(NeoCity.png);
    background-size: cover;
    clear: both;
	
}
/*We began using the float prperty to move the objects next to eachother*/
aside {
    width: 150px;
    height: 800px;
    background-color: red;
    border: 4px solid #880000;
    border-radius: 6px;
    float: left;
}
.flower {
    border: 3px solid white;
    border-radius: 3px;
    float: right;

}
#floatLeft {
	
	float:left;
	margin-right: 20px;
	
}
#sideBar {
    font-size: 16px;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    width: 125px;
    padding-left: 10px;
		
}



header {
    width: 768px;
    height: 350px;
    background-color: #008000;
    
	
}
main{
    width: 602px;
    height: 800px;
    background-color: #00BBFF;
    border: 4px solid #000000;
    float: left;	
}
h1 {
    padding-left: 13px;
    padding-top: 0px;
    font-family: coquette, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    text-shadow: 5px 5px 7px #FFFFFF;
	
	
	
}
p {
    padding-left: 10px;
    width: 550px;
    color: rgb(255,255,255);
    font-size: 16px;
    font-family: filmotype-austin, sans-serif;
}

#paragraphContent{
	
	
	
}

article {
    height: auto;
}
#container nav  {
    width: 768px;
    height: auto;
    background-color: #FFFFFF;
    color: black;
    display: block;
    list-style-type: none;
    float: left;
}
.nav {
    text-decoration: none;
    color: rgba(52,59,59,1.00);
    ;
    text-shadow: 4px 4px 5px #666666;
    margin: auto;
    text-align: center;
}
#container nav li {
    float: left;
    display: block;
    list-style-type: none;
    margin-right: 110px;
    margin-bottom: 30px;
    text-decoration: none;
}
#container nav ul {
    padding-left: 86px;
    text-decoration: none;
    display: block;
    font-family: coquette, sans-serif;
    margin: auto;
    color: #00ffff;
    width: 2000px;
    text-align: center;
}
body,td,th {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
nav a:link {
    color: #ababab;
	padding:3px;
}
nav a:visited {
    color: #000000;
}
nav a:hover {
    color: #686868;
	background-color:aqua;
	padding:3px;
	border-radius:10px;
}
nav a:active {
    color: #FF0308;
}
main form .textBox {
    font-family: filmotype-austin, sans-serif;
    color: white;
}
#submitBox {
    padding-left: 20px;
}
.findUs {
    color: #FFFFFF;
    font-family: filmotype-austin, snas-serif;
    font-size: 20px;
    font-weight: 100;
}
.submit_btn {
    width: 150px;
    border: 3px solid #000000;
    border-radius: 4px;
    background-color: #2DF5FF;
    color: #333333;
    height: 50px;
    font-family: coquette, sans-serif;
    cursor:pointer;
    -webkit-box-shadow: 3px 3px 4px 3px #555555;
    
}
.submit_btn:hover{
	
	-webkit-box-shadow:4px 4px 4px 4px #555555;
	
	
}
main ul , ol{
    font-family: filmotype-austin, sans-serif;
    font-size: 16px;
    color: white;
}
table {
    border-radius: 10px;
    border: 5px solid #000000;
    margin: auto;
    background-color: white;
}
table td {
    font-family: coquette, sans-serif;
    ;
    ;
}
table thead {
    color: black;
}
